<%- include('partials/head') %>

    <body>
        <%- include('partials/navbar') %>
            <table style="width:100%">
                <tr>
                    <th>Medicine Name</th>
                    <th>Quantity Issued</th>
                    <th>Doctor</th>
                    <th>Date Of Issue</th>

                </tr>
                <% for(let i=0;i<meds.length;i++) {%>

                    <tr>
                        <td>
                            <%=meds[i].mname %>
                        </td>
                        <td>
                            <%= meds[i].qty%>
                        </td>
                        <td>
                            <%= meds[i].dname %>
                        </td>
                        <td>
                            <%= meds[i].DoI %>
                        </td>
                    </tr>
                    <% } %>

            </table>

    </body>

    </html>